fr.inria.atlanmod.json.discoverer.coverage/bin/
fr.inria.atlanmod.json.discoverer.tests/bin/
fr.inria.atlanmod.json.discoverer.tests/log/
fr.inria.atlanmod.json.discoverer.zoo/bin/
fr.inria.atlanmod.json.discoverer.zoo/zooBig/*
fr.inria.atlanmod.json.discoverer.zoo/zooMini/*
fr.inria.atlanmod.json.discoverer/bin/
testing/**
.idea/**
*.iml